@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372F0;
}

.container{
    width: 700px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}

.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text{
    border-radius:0px ;
    border-left: 1px solid #bbb;
}

.text-input textarea{
    height: 250px;
    width: 100%;
    border:none ;
    outline: none;
    font-size: 18px;
    background: none;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
    margin: 0;
}

.controls{
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-between; 
}

.controls .icons{
    color: #9f9f9f;
     
}
